<div th:fragment="insert-mask">
	<h1>Neuen Stundenplaneintrag speichern</h1>
	
	<form id="insertForm" th:action="@{/insert}" method="post" th:object="${fieldDTO}">
		<input type="hidden" name="insertType" th:value="${insertType}">
		
		<label>Zeitfenster: </label>
		<select th:field="*{time}"> 
			<option th:each="slot : ${T(com.uni_course_planner.constants.timetable.Timeslot).values()}"
				th:value="${slot}" th:text="${slot.time}">
		</select><br>
		
		<label>Wochentag: </label>
		<select th:field="*{day}"> 
			<option th:each="weekday : ${T(com.uni_course_planner.constants.timetable.Weekday).values()}"
				th:value="${weekday}" th:text="${weekday.description}">
		</select><br>
		
		<label>Modul: </label>
		<select th:field="*{selectedModul}">
			<option th:each="modul : *{modulOptionen}" th:value="${modul}" th:text="${modul}"></option>
		</select><br>
		
		<label>Raum: </label>
		<input th:field="*{room}" type="text"><br>
		
		<button>Speichern</button>
	</form>
</div>