<!-- Navigation menu -->
<div th:fragment="menu">
	<nav>
		<div class="logo">Uni-Course-Planner</div>
		<ul class="menu-list">
			<li><a th:href="@{/page/core/home}">Home</a></li>
			<li><a th:href="@{/page/core/module}">Modulübersicht</a></li>
			<li><a th:href="@{/page/core/timetable}">Stundenplan</a></li>
			<li><a th:href="@{/page/core/calendar}">Kalender</a></li>
			<li><a th:href="@{/page/core/credits}">Leistungspunkte</a></li>
		</ul>
		
		<a class="menu-btn" th:href="@{/page/core/profile}" title="Profil">
			<i class="bi bi-person"></i>
		</a>
	</nav>
</div>

<!-- Display error messages using SweetAlert2 -->
<div th:fragment="error-message">
	<div id="message-box" th:if="${errorMessage}" th:data-message="${errorMessage}"></div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/js/messageScripts/error.js}"></script>
</div>