<div th:fragment="menue">
	<nav>
		<div class="logo">Uni-Course-Planner</div>
		<ul class="menue-list">
			<li><a th:href="@{/page/core/home}">Home</a></li>
			<li><a th:href="@{/page/core/modul}">Modulübersicht</a></li>
			<li><a th:href="@{/page/core/stundenplan}">Stundenplan</a></li>
			<li><a th:href="@{/page/core/kalender}">Kalender</a></li>
			<li><a th:href="@{/page/core/leistungspunkte}">Leistungspunkte</a></li>
		</ul>
		
		<a class="menue-btn" th:href="@{/page/core/profil}" title="Profil">
			<i class="bi bi-person"></i>
		</a>
	</nav>
</div>