<div th:fragment="menue">
	<nav>
		<div class="logo">Uni-Course-Planner</div>
		<ul class="menue-list">
			<li><a th:href="@{/page/core/home}">Home</a></li>
			<li><a th:href="@{/page/core/modul}">Modulübersicht</a></li>
			<li><a th:href="@{/page/core/stundenplan}">Stundenplan</a></li>
			<li><a th:href="@{/page/core/calendar}">Kalender</a></li>
			<li><a th:href="@{/page/core/credits}">Leistungspunkte</a></li>
		</ul>
		
		<a class="menue-btn" th:href="@{/page/core/profil}" title="Profil">
			<i class="bi bi-person"></i>
		</a>
	</nav>
</div>

<div th:fragment="error-message">
	<div id="message-box" th:if="${errorMessage}" th:data-message="${errorMessage}"></div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/js/messageScripts/error.js}"></script>
</div>