<div th:fragment="standard">	
	<p>
		Für deinen Stundenplan ist derzeit kein gültiger Zeitraum vorhanden.<br>
		Entweder wurde noch kein Zeitraum festgelegt oder der bisherige Zeitraum ist abgelaufen.<br>
		Bitte wähle unten ein Start- und Enddatum aus, für das der Stundenplan gelten soll.
	</p>
	
	<form th:action="@{/saveDate}" method="post">
		<div>
			<input type="date" name="validFrom" th:value="${today}">
			<i class="bi bi-arrow-right"></i>
			<input type="date" name="validTo" th:value="${later}">
		</div>
		
		<button>Stundenplan für diesen Zeitraum erstellen</button>
	</form>
</div>

<div th:fragment="timetable">				
	<div class="raster"
		th:with="days=${T(com.uni_course_planner.constants.timetable.Weekday).values()}"
		th:style="'--cols:' + ${days.length}">
		<div class="raster-row">
			<div class="raster-head">Zeitslot</div>
			
			<div th:each="day : ${days}" class="raster-head" th:text="${day.description}"></div>
		</div>
			
		<div th:each="row : ${timetable}" class="raster-row">
			<div class="raster-cell">
				<div class="raster-entry" th:text="${row.slot.time}"></div>
			</div>
			
			<div class="raster-cell" th:each="cell : ${row.lectures}">
				<div th:each="lecture : ${cell}" class="raster-entry"
					 th:style="'background-color:' + ${lecture.event.hexColor}">
					
					<span th:text="${lecture.modul}"></span>
					<span th:text="${lecture.event.description} + ';'"></span>
					<span th:text="'Raum: ' + ${lecture.room}"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div id="modalOverlay" class="modal-overlay hidden">
		<div class="modal-window">
			
			<button type="button" class="modal-close" onclick="closeModal()">
				×
			</button>
			
			<div id="modalContent"></div>
		</div>
	</div>
	
	<div class="data-handling-btn">
		<button type="button" onclick="openModal('insert', 'MODUL')">
			<i class="bi bi-plus-circle"></i>
		</button>
		
		<button type="button" onclick="openModal('edit', 'MODUL')">
			<i class="bi bi-pencil"></i>
		</button>
		
		<button type="button" onclick="openModal('delete', 'MODUL')">
			<i class="bi bi-trash"></i>
		</button>
	</div>
</div>