<!DOCTYPE html>
<html>
	<head>
		<title>Uni-Course-Planner LP</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link rel="stylesheet" th:href="@{/css/mainStyle.css}">	
		<link rel="stylesheet" th:href="@{/css/modalStyle.css}">	
		<link rel="stylesheet" th:href="@{/css/coreFragmentStyle.css}">	
	</head>
	<body>
		<!-- Main navigation -->
		<div th:replace="~{fragments/core-fragments :: menu}"></div>
		
		<div class="content">
			<h1>Leistungspunkte</h1>
			
			<input hidden id="data">
			
			<!-- Module grades and credits -->
			<table id="main-table">
				<thead>
					<tr>
						<th hidden>Modul_ID</th>
						<th>Modul</th>
						<th>Leistungspunkte</th>
						<th>Note</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="grade : ${grades}" th:onclick="rowClicked(this)">
						<td hidden th:text="${grade.moduleId}"></td>
						<td th:text="${grade.modulename}"></td>
						<td th:text="${grade.credits}"></td>
						<td th:text="${grade.grade?.numeric ?: '-'}"></td>
					</tr>
				</tbody>
			</table>
			
			<p>
			    Leistungspunkte:
			    <span th:text="${totalCredits}"></span>
			</p>
			
			<!-- Modal container -->
			<div id="modalOverlay" class="modal-overlay hidden">
				<div class="modal-window">
					<button type="button" class="modal-close" onclick="closeModal()">
						×
					</button>
					
					<div id="modalContent"></div>
				</div>
			</div>
			
			<!-- Edit actions -->
			<div class="data-handling-btn">				
				<button type="button" onclick="openModal('edit', 'CREDITS')">
					<i class="bi bi-pencil"></i>
				</button>
			</div>
			
			<!-- Display error messages -->
			<div th:replace="~{fragments/core-fragments :: error-message}"></div>
		</div>
		
		<!-- Table and modal scripts -->
		<script th:src="@{/js/tableScripts/tablerow-action.js}"></script>
		<script th:src="@{/js/modal/modal-opening.js}"></script>
		<script th:src="@{/js/modal/modal-actions.js}"></script>
	</body>
</html>