* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {	
	background-image: linear-gradient(to bottom, #836fff, white);
	min-height: 100vh;
	
	font-size: 22px;
}

.content {
	padding: 0 20px 0 20px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	text-align: center;
}

.content h1 {
	text-decoration: underline;
	margin-bottom: 40px;
}

.content button {
	margin: 40px;
	padding: 5px;
	
	font-size: 24px;
	background-color: #87cefa;
	
	border: 2px solid black;
	border-radius: 15px;
}

.content input {
	field-sizing: content;
	min-width: 120px;
	font-size: 20px;
	
	padding: 5px;
}

.content a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}